$radius: 12px;
$font-family: 'Segoe UI', sans-serif;

$pastel-colors: (
  #ff85d5,
  #e79eff,
  #b8e4ff,
  #ff94a2,
  #ffe180,
  #d3f8e2,
  #fbe7c6,
  #fcd5ce
);

$bordeaux: #6e2142;
$white: #ffffff;
$gray: #666666;
$light-gray: #f0f0f0;
